/* Este código ASUME que el archivo main.css está en la carpeta /css/ */

/* BASE */
@import url('base/_variables.css'); 
@import url('base/_layout.css');

/* COMPONENTES y LAYOUT PRINCIPAL */
@import url('components/_buttons.css');
@import url('layout/_header.css');
@import url('layout/_footer.css');

/* SECCIONES Y PÁGINAS (CONTENIDO) */
@import url('sections/_home.css');
@import url('pages/_contact.css'); 
@import url('pages/_about.css');
@import url('pages/_general.css');
@import url('/pages/_services.css');

/* UTILIDADES */
@import url('util/_responsive.css');
