<header class="header">
    <div class="container nav-bar">
        <div class="logo">
            <img src="assets/images/inicio/Lucid_Origin_Minimalist_and_futuristic_logo_design_for_a_cyber_sin_fondo2_escudo.png" alt="QuantumTrust Logo">
            QuantumTrust
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="services.html">Servicios</a></li>
                <li><a href="about.html">Quiénes Somos</a></li>
                <li><a href="general.html">Valor Diferencial</a></li>
            </ul>
        </nav>
    </div>
</header>
