/* ======================================================= */
/* ====== FUENTES TIPOGRÁFICAS PERSONALIZADAS ============ */
/* ======================================================= */

@font-face {
  font-family: 'Montserrat Web';
  src: url('../../assets/fonts/montserrat-variablefont_wght-webfont.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-variation-settings: 'wght' 400;
}

@font-face {
  font-family: 'Montserrat Web';
  src: url('../../assets/fonts/montserrat-italic-variablefont_wght-webfont.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* ======================================================= */
/* ====== VARIABLES GLOBALES CSS ========================= */
/* ======================================================= */

:root {
  --font-family: 'Montserrat Web', sans-serif;
  --heading-font-family: 'Montserrat Web', sans-serif;
  --text-color: #333;
}

/* Estilos base */
html, body {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Títulos más gruesos */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
